@{
    ViewBag.Title = "Index";
}
<a role="button" href="/Home/GetAllBooks">Get All Books</a>
<a role="button" href='@Url.Action(controller:"Home", action:"GetAllBooks")'>Get All Books</a>
<h2> Bu index page</h2>
